@import 'bootstrap';
@import 'color';
/* body */

body {
  background: $trang;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $xam;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bolder
}

h1 {
  font-size: 2em;
  margin: .67em 0;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin: .75em 0;
}

h3 {
  font-size: 1.17em;
  margin: .83em 0;
}

h5 {
  font-size: .83em;
  margin: 1.5em 0;
}

h6 {
  font-size: .75em;
  margin: 1.67em 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*  header Section  */

.header_img {
  width: 80px;
  height: 80px;
  border: 1px solid $trang;
  border-radius: 10px;
  float: left;
  margin: 10px 0 0 90px;
}

header {
  width: 100%;
  height: 100px;
  background: $header_corlor;
  border: 1px solid $trang;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  ;
}

header .menu {
  float: right;
  width: 550px;
  height: 50px;
  margin: 25px 25px 0 20px;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 15px;
  ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
  }
  li{     
    float: left;
  }
  li a{
    display: block;
    color: $trang;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover{
    background-color: $header_button;
    border: 1px solid $header_button;
    border-radius: 10px;
  }
}

.dropdown-content {
  display: none;
  background-color: $header_corlor;
  min-width: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid $header_button;
  border-radius: 10px;
  a {
    color: $xam;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.caption {
  width: 400px;
  height: 50px;
  margin: 25px 20px 0 0;
  float: right;
}

/*  Search Section  */

.search {
  width: 100%;
  height: 100px;
  background: $search;
  position: relative;
  border: 1px solid $trang;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  ;
}

.search #search {
  display: block;
  width: 1000px;
  height: 95px;
  float: left;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  background: $search;
  color: $trang;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 22px;
}

.search #search::-webkit-input-placeholder {
  color: $xanh;
}

.search #search:-moz-placeholder {
  color: $xanh;
}

.search #search::-moz-placeholder {
  color: $xanh;
}

.search #search:-ms-input-placeholder {
  color: $xanh;
}

.search #submit_search {
  display: none;
}

.search .advanced_search_icon {
  display: block;
  width: 26px;
  height: 26px;
  float: right;
  margin-top: 37px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.search .advanced_search_icon:hover {
  background: url("advanced_search_hover.png") no-repeat;
}

.search .advanced_search_icon.activ {
  background: url("advanced_search_active.png") no-repeat;
}

.search .advanced_search .arrow {
  display: block;
  width: 14px;
  height: 9px;
  background: url("search_arrow.png") no-repeat;
  position: absolute;
  top: -8px;
  right: 6px;
}

/*  listings section  */

.listings {
  padding: 100px 0;
}

.listings ul.properties_list {
  list-style: none;
  overflow: hidden;
}

.listings ul.properties_list li {
  display: block;
  width: 340px;
  height: auto;
  position: relative;
  float: left;
  margin: 0 40px 40px 0;
}

.listings ul.properties_list li img.property_img {
  width: 100%;
  height: auto !important;
  vertical-align: top;
}

.listings ul.properties_list li:nth-child(3n+0) {
  margin-right: 0;
}

.listings ul li .property_details {
  width: 298px;
  padding: 10px 20px 14px 20px;
  border-bottom: 1px solid $trang;
  border-left: 1px solid $trang;
  border-right: 1px solid $trang;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.listings ul li:hover .property_details {
  border-bottom: 1px solid $xanh;
  border-left: 1px solid $xanh;
  border-right: 1px solid $xanh;
}

.listings ul li .property_details h1 {
  color: $xam;
  font-family: "lato-bold", Helvetica, Arial, sans-serif;
  font-size: 16px !important;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 28px;
}

.listings ul li .property_details h1 a {
  text-decoration: none;
  color: $xam;
}

.listings ul li .property_details h2 {
  color: $xam;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 26px;
}

.listings ul li .property_details .property_size {
  color: $xam;
}

.listings .more_listing {
  display: block;
  width: 100%;
  text-align: center;
  margin: 84px 0 22px 0;
}

.listings .more_listing_btn {
  text-decoration: none;
  padding: 20px 40px;
  border: 2px solid $search;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  color: $xanh;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}

/*  footer  */

footer {
  padding-top: 0;
  background: $xanh;
}

footer .footer>ul {
  overflow: hidden;
}

footer .footer>ul>li {
  display: block;
  float: left;
  list-style: none;
  margin-right: 60px;
}

footer .footer>ul>li:last-child {
  margin-right: 0;
}

footer .footer>ul>li.about {
  width: 327px;
}

footer ul li.about p {
  color: $trang;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 34px;
  margin-top: -9px;
}

footer ul li.about>ul>li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
}

footer ul li.about>ul>li:last-child {
  margin-right: 0;
}

footer ul li.about>ul>li a {
  background: url("../img/social_media.png") no-repeat;
}

footer ul li.about>ul>li a.facebook {
  display: block;
  width: 10px;
  height: 18px;
  background-position: 0 0;
}

footer ul li.about>ul>li a.twitter {
  display: block;
  width: 19px;
  height: 18px;
  background-position: -11px 0;
}

footer ul li.about>ul>li a.google {
  display: block;
  width: 10px;
  height: 18px;
  background-position: -31px 0;
}

footer ul li.about>ul>li a.skype {
  display: block;
  width: 17px;
  height: 18px;
  background-position: -43px 0;
}

footer .copyrights {
  display: block;
  text-align: center;
  padding: 40px 0;
  margin-top: 60px;
  color: $trang;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
  border-top: 1px solid $footer_color;
}

footer .copyrights a.ph_link {
  font-family: "Lato-bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: bottom;
  border: 1px solid $trang;
  border-radius: 10px;
}

.content_img {
  width: 298px;
  height: 280px;
}

/* users index*/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
  }
}

.create_users {
  float: right;
  margin-right: 100px;
}

form {
  box-sizing: border-box;
  width: 380px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
}

form h1 {
  box-sizing: border-box;
  padding: 20px;
}
   
input {
  margin: 40px 25px;
  width: 300px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 2px $header_corlor;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $header_corlor);
  background-position: -200px 0;
  background-size: 300px 100%;
  background-repeat: no-repeat;
  color: $header_corlor;
}

input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: $header_corlor;
  font-size: 11px;
  transform: translateY(-20px);
  visibility: visible !important;
}
   
.button {
  border: none;
  background: $header_corlor;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 300px;
  color: $trang;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.checkbox {
  margin-top: -59px;
  margin-left: 144px;
  text-align: right;
  font-weight: normal;
}
